.proyectos-page h2 {
  margin: 0;
}

.project-card {
  border-radius: 8px;
  overflow: hidden;
}

.project-card-cover {
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: center;/* centra la parte mostrada */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.project-area {
  font-size: 0.85rem;
  margin-bottom: 4px;
}

.project-title {
  margin: 0;
  font-size: 1.1rem;
  flex-shrink: 0;
}

.project-desc {
  flex-grow: 1;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.65);
  margin: 8px 0;
}

.project-progress {
  margin-bottom: 12px;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-avatars .ant-avatar {
  margin-right: -8px;
  border: 2px solid #fff;
}

.project-task-count {
  font-size: 0.85rem;
}
